<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
  <appSettings>
    <add key="ImagePath" value="..\..\Files\Message\Images" />
    <add key="FilePath" value="..\..\Files\Message\Files" />
    <add key="AudioPath" value="..\..\Files\Message\Audios" />
    
    <add key="ImageExtenctions" value=".jpg,.png" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
	
	<connectionStrings>
    <!--<add name="conStr" connectionString="data source=RUSTY\SQLEXPRESS;initial catalog=ChatDialogue;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    
    <!--<add name="conStr" connectionString="Data Source=DESKTOP-5DLJ44R; Initial Catalog=DbChat; Integrated Security=True; Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />-->
		<add name="conStr" connectionString="Data Source=DESKTOP-ELG08N1\MYSQLSERVER;Initial Catalog=DbChat;Persist Security Info=True; User ID=sa; Password=1; App=EntityFramework" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
	
</configuration>